black==25.1.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cssselect2==0.8.0
defusedxml==0.7.1
dotenv==0.9.9
idna==3.10
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
pycparser==2.22
python-dotenv==1.0.1
requests==2.32.3
tinycss2==1.4.0
ttkbootstrap==1.10.1
urllib3==2.3.0
webencodings==0.5.1
